.cesium-timeline-main{
  border: 1px solid #409EFF;
}
.cesium-timeline-ticLabel{
  color:#409EFF;
}
.cesium-timeline-ticMain{
  background:#409EFF;
}
.cesium-timeline-ticTiny{
  background:#409EFF;
}
.cesium-timeline-tracks{
  background:#409EFF;
}